<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>NotificationIonicApp</title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Anonymous Pro	' rel='stylesheet'>

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="js/ng-cordova.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

  <!-- app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers/mainController.js"></script>
  <script src="js/controllers/homeController.js"></script>
  <script src="js/controllers/notificationController.js"></script>
  <script src="js/services/pictureService.js"></script>
  <script src="js/services/notificationService.js"></script>

</head>

<body ng-app="app" ng-controller="MainController">

  <!-- <ng-include src="string" [onload="string"] [autoscroll="string"]> -->
  <!-- <ng-include src="views/header.html"> -->
  <!-- </ng-include> -->

  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      <div class="row " ng-show="!showBackButton()">
        <div class="col col-20">
          <div class="item-avatar basic-div">
            <img class="basic-img basic-icon-button" ng-src="{{getPicture()}}" ng-click="showTakeOrChoosePhotoPopup()">
          </div>
        </div>
        <div class="col col-50">
        </div>
        <div class="col col-30">
          <img class="basic-img basic-icon-button right" ng-src="{{hasUnreadNotifications() ? 'img/ios-notifications-outline-unread.png' : 'img/ios-notifications-outline.png'}}" ng-click="navigate('#/tab/notifications')">
        </div>
      </div>
    </ion-nav-title>
  </ion-nav-bar>

  <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /views folder (but you could also
      have templates inline in this html file if you'd like).
    -->
  <ion-nav-view></ion-nav-view>

</body>

</html>