<!-- <ion-nav-bar class="bar-clear" ng-controller="MainController"> -->
<ion-nav-bar class="bar-clear" >
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-title>
    <div class="row " ng-show="!showBackButton()">
      <div class="col col-20">
        <div class="item-avatar basic-div">
          <img class="basic-img basic-icon-button" ng-src="{{getPicture()}}" ng-click="showTakeOrChoosePhotoPopup()">
        </div>
      </div>
      <div class="col col-50">
      </div>
      <div class="col col-30">
        <img id="bell" class="basic-img basic-icon-button right" ng-src="{{hasUnreadNotifications() ? 'img/ios-notifications-outline-unread.png' : 'img/ios-notifications-outline.png'}}" ng-click="navigate('#/tab/notifications')">
      </div>
    </div>
  </ion-nav-title>
</ion-nav-bar>