<ion-view view-title="" hide-nav-bar=false>
  <ion-content class="padding">
      <div class="row row-100" ng-show=true>
        <div class="col col-center center">
          <img class="basic-img youper-logo-big fade-in-primary" ng-src="img/youper.png">
          <h2 class="aldrich-font slide-in-secondary">Youper Challenge</h2>
          <h4 class="abel-font slide-in-tertiary">Full Stack Engineer</h4>
        </div>
      </div>
  </ion-content>
</ion-view>