<ion-view view-title="" hide-nav-bar=false>
  <ion-content class="">
    <ion-list>
      <ion-item ng-repeat="notification in getNotifications()"
          ng-class="['item-notification item-notification-ellipsis ', {'item-notification-unread fade-in-unread-notification' : notification.read == false}, {'slide-in-primary' : notification.read == true}]"
          ng-click="read(notification.id)" >
        <img class="icon-notification-unread fade-in-tertiary" ng-show="!notification.read" src="img/ios-unread.png">
        <div class="item-notification-date slide-in-tertiary">{{timeSince(notification.date)}}</div>
        <div class="item-notification-text item-notification-text-ellipsis slide-in-secondary" ng-bind-html=notification.text></div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>