<ion-view view-title="{{notification.name}}">
  <ion-content >
    <ion-item class="item-notification item-notification-detail fade-in-secondary">
      <div class="item-notification-date slide-in-tertiary">{{timeSince(notification.date)}}</div>
      <div class="item-notification-text slide-in-secondary" ng-bind-html=notification.text></div>
      <div class="basic-div center">
        <br>
        <button id="backButton" class="button button-small basic-button" ng-click="back()">
          Got it
        </button>
      </div>
    </ion-item>
  </ion-content>
</ion-view>