<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab id="Home" title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab id="Notifications" title="Notifications" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/notifications">
    <ion-nav-view name="notifications-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>