.right{
    float: right;
}

.center{
    text-align: center;
}

.abel-font{
    font-family: 'Abel';
}

.aldrich-font{
    font-family: 'Aldrich';
}

.anonymous-pro-font{
    font-family: 'Anonymous Pro	';
}

/* Overrides - begin */
.scroll {
    height: 100%;
}

.tabs {
    border: none;
    background-color: #FFF;
}

.bar .title {
    margin: 0px;
    /* border: none; */
}

.bar.bar-clear {
    border: none;
    background: none;
    color: #fff;
}
.bar.bar-clear .button {
    color: #FCAB40;
}
.bar.bar-clear .title {
    color: #fff;
}

.item {
    border-color: #F1F1F1;
}
.row-100 {
    height: 100%;
}

.bar-header{
    height: 55px;
    border: none;
}
  
.has-header{
    top:55px;
}

.basic-div {
    padding: 0px;
    min-height: auto !important;
}

.basic-img {
    top: auto !important;
    /* left: auto !important; */
}

/* .basic-bar-header {
    height: auto !important;
    border-width: 0px !important;
} */

.basic-icon-button {
    font-size: 30px !important;
    max-height: 30px !important;
    max-width: 30px !important;
    cursor: pointer !important;
    border-radius: 50% !important;
}

.basic-button {
    padding: 0px 25px !important;
    border-color: transparent !important;
    /* background-color: #FFB347; */
    background-color: #FCAB40 !important;
    color: #fff !important;
    border-radius: 15px !important;
    /* font-weight: normal !important; */
}

.popup-buttons {
    height: 55px !important;
    min-height: 55px !important;
}

.popup-buttons .button {
    /* padding: 0px 25px !important; */
    /* border-color: transparent !important; */
    /* background-color: #FCAB40 !important; */
    /* color: #fff !important; */
    border-radius: 15px !important;
    /* font-weight: normal !important; */
    height: 35px !important;
    min-height: 35px !important;
}

.popup-container .popup{
    border-radius: 15px !important;
}

/* .basic-popup {
    border-radius: 15px !important;
} */

.item-notification {
    border-radius: 10px;
    margin: 10px;
    line-height: 20px;
    padding: 10px !important;
}

/* .item-notification-unread { */
    /* background-color: #FFF; */
/* } */

/* .item-notification-unread .item-content {
    background-color: #F1F1F1;
} */

.item-notification-ellipsis {
    height: 100px;
}

.item-notification-detail {
    padding: 10px !important;
}

/* .item-notification .item-content {
    padding: 10px !important;
} */

.item-notification-date {
    color: gray !important;
    font-size: x-small !important;
    padding-bottom: 5px !important;
}

.item-notification-text {
    font-size: small !important;
    white-space: normal !important;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-notification-text-ellipsis {
    max-height: 60px !important;
    -webkit-line-clamp: 3;
}

.item-notification-text h1, 
.item-notification-text h2, 
.item-notification-text h3, 
.item-notification-text h4, 
.item-notification-text h5, 
.item-notification-text h6, 
.item-notification-text p {
    white-space: normal !important;
    font-size: inherit !important;
}

.icon-notification-unread {
    float: right;
    font-size: 10px;
    max-height: 10px;
    max-width: 10px;
}

/* Overrides - end */

.youper-logo-big {
    max-height: 75%;
    max-width: 75%;
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
    }
    50% {
        -webkit-transform: translate3d(10%,0,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUnreadNotification {
    0% {
        background-color: #FFF;
    }
    100% {
        background-color: #F1F1F1;
    }
}

.slide-in-primary {
    -webkit-animation: slideIn 750ms ease-in 0ms 1 backwards; 
    animation: slideIn 750ms ease-in 0ms 1 backwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}

.slide-in-secondary {
    -webkit-animation: slideIn 750ms ease-in 500ms 1 backwards; 
    animation: slideIn 750ms ease-in 500ms 1 backwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}

.slide-in-tertiary {
    -webkit-animation: slideIn 750ms ease-in 750ms 1 backwards; 
    animation: slideIn 750ms ease-in 750ms 1 backwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}

.fade-in-primary {
    -webkit-animation: fadeIn 750ms ease-in 0ms 1 backwards;
    animation: fadeIn 750ms ease-in 0ms 1 backwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}

.fade-in-secondary {
    -webkit-animation: fadeIn 750ms ease-in 500ms 1 backwards;
    animation: fadeIn 750ms ease-in 500ms 1 backwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}

.fade-in-tertiary {
    -webkit-animation: fadeIn 750ms ease-in 750ms 1 backwards;
    animation: fadeIn 750ms ease-in 750ms 1 backwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}

.fade-in-unread-notification {
    -webkit-animation: slideIn 750ms ease-in 1 backwards, fadeInUnreadNotification 750ms ease-in 750ms 1 forwards;
    animation: slideIn 750ms ease-in 1 backwards, fadeInUnreadNotification 750ms ease-in 750ms 1 forwards;
    /* [name duration timing-function delay iteration-count backwards, ...] */
}